{% extends "Home/base_customer.html" %}
{% block base_customer_body %}

{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
</head>
<body>

     <div class="container">
       <div class="row">
         <form class="form-contact col-md-6" role="form" method="post" action="{% url 'Home:contact' %}">
           {% csrf_token %}
           <h2>请输入您的宝贵建议</h2>
           <div class="form-group">
             <input type="text" class="form-control"
                placeholder="Title" name="title" required="">
           </div>
           <div class="form-group">
             <textarea class="form-control"
                       placeholder="Your messages..." name="messages" required=""></textarea>
           </div>
           <div class="form-group">
             <button type="submit" class="btn btn-lg btn-primary btn-block">提交</button>
           </div>
             <div class="form-group">
                {% if messages %}
                    {% for msg in messages %}
                        <div {% if msg.tags == 'success' %} class="alert alert-success"
                             {% else %} class="alert alert-warning" {% endif %}>
                                 <a href="#" class="close" data-dismiss="alert">
                                    &times;
                                 </a>
                                <strong>{{ msg.message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
             </div>
         </form>
       </div>
     </div>

</body>
</html>
{% endblock base_customer_body %}