{% include "Home/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
   <div class="jumbotron">
       <div class="container">

           <h1>欢迎来到收费管理系统</h1>
           <p><i>{{phone_account.phone}}</i></p>

       </div>
   </div>

   <div class="container">
       <div class="row">
           <div class="col-md-6">

           </div>
           <div class="col-md-6">

           </div>
       </div>
   </div>

   <hr>

   <footer>
       <div class="container">
           <p>
               &copy;数据库课设 {% now 'Y' %}
           </p>
       </div>
   </footer>

    {% if messages %}
         <div class="messages">
            <script>
            {% for msg in messages %}
                alert('{{ msg.message }}');
            {% endfor %}
            </script>
        </div>
    {% endif %}

</body>
</html>