{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
</head>

<body>

<div class="container">
    <form class="form-signup" id="signupform" action="{% url 'Authentication:register' %}" method="post">
        {% csrf_token %}
        <h2 class="form-signup-heading">Please sign up</h2>
        <label class="sr-only" for="inputEmail">Email address</label>
        <input class="form-control" id="inputEmail" type="email" placeholder="E-mail address" name="email" required autofocus>
        <label class="sr-only" for="inputUsername">Email address</label>
        <input class="form-control" id="inputUsername" type="text" placeholder="Username" name="username" required>

        <!--<label class="sr-only" for="inputSex">Email address</label>
        <input class="form-control" id="inputSex" type="text" placeholder="Sex" name="sex" required>-->


        <select class="form-control" placeholder="Sex" name="sex" required>
            <option value="M">Select Your Sex (default = male)</option>
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select>

        <label class="sr-only" for="inputPassword">Email address</label>
        <input class="form-control" id="inputPassword" type="password" placeholder="Password" name="password" required>
        <label class="sr-only" for="ConfirmPassword">Email address</label>
        <input class="form-control" id="ConfirmPassword" type="password" placeholder="Confirm your password" required>
        <br>
        <div class="checkbox">
            <label>
                <a href="{% url 'Authentication:login' %}">Already have an account? Click to login</a>
            </label>
        </div>
        <input type="submit" value="Sign up" class="btn btn-lg btn-primary btn-block" id="up_btn"/>
    </form>
</div> <!-- /container -->
<div class="modal fade" id="warnModal" tabindex="-1" role="dialog" aria-labelledby="warnModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Close</span></button>
                <h4 class="modal-title" id="warnModalLabel">Error!</h4>
            </div>
            <div class="modal-body" id="warn_div">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<script src="//cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
<script src="//cdn.bootcss.com/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
<script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="{% static 'home/js/signup.js' %}"></script>
</body>
</html>
